<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ay.mapper.StudentMapper">


    <select id="findAllStudent" parameterType="com.ay.entity.Student" resultType="com.ay.entity.Student">
        select
        student_test.id,
        student_test.name,
        student_test.email,
        student_test.gender,
        student_test.age,
        student_test.birthday,
        student_test.salary
        from student_test
        where 1=1
        <if test="id != null">and id=#{id}</if>
        <if test="name != null">and name=#{name}</if>
        <if test="email != null">and email=#{email}</if>
        <if test="gender != null">and gender=#{gender}</if>
        <if test="age != null">and age=#{age}</if>
        <if test="birthday != null">and birthday=#{birthday}</if>
        <if test="salary != null">and salary=#{salary}</if>
    </select>


    <insert id="addStudent" parameterType="com.ay.entity.Student">
        INSERT INTO student_test (id,name,email,gender,age,birthday,salary)
        VALUES (#{id},#{name},#{email},#{gender},#{age},#{birthday},#{salary})
    </insert>


    <select id="findStudentByid" parameterType="com.ay.entity.Student" resultType="com.ay.entity.Student">
        select
        student_test.id,
        student_test.name,
        student_test.email,
        student_test.gender,
        student_test.age,
        student_test.birthday,
        student_test.salary
        from student_test
        where id=#{id}
    </select>

    <delete id="delStudent" parameterType="com.ay.entity.Student">
        delete from student_test where id=#{id}
    </delete>

    <update id="updateStudent" parameterType="com.ay.entity.Student">
        UPDATE student_test
        <set>
            <if test="name != null">name=#{name}</if>
            <if test="email != null">email=#{email}</if>
            <if test="gender != null">gender=#{gender}</if>
            <if test="age != null">age=#{age}</if>
            <if test="birthday != null">birthday=#{birthday}</if>
            <if test="salary != null">salary=#{salary}</if>
        </set>
        WHERE id=#{id}
    </update>




</mapper>